<article class="panel panel-default" [ngStyle]="{backgroundColor: color, 'font-size.px': tam}">
        <div class="panel-body">
                {{ messageVarClasse.content }}
                {{ messageVarClasseAlias.content }}
        </div>
        <footer class="panel-footer">
                <div class="author">
                        {{ messageVarClasse.username }}
                        {{ messageVarClasseAlias.username }}
                </div>
                <div class="config">
                        <a (click)="onEditService()"> EditService </a>
                        <a (click)="onDeleteService()"> DeleteService </a>
                </div>
        </footer>
</article>